<app-navbar></app-navbar>
<div>
  <table>
    <thead>
        <tr>
          <th>Artist</th>
          <th>Title</th>
          <th># of adds</th>
          <th>add to playlist</th>
        </tr>
    </thead>
    <tr *ngFor = "let song of songs">
      <td>{{ song.artist }}</td>
      <td><a href='users' [(ngModel)]='users'>{{ song.title }}</a></td>
      <td>{{ song.numAdded }}</td>
      <td> <button (click)='addToList()'>add</button></td>
    </tr>
  </table>
</div>
<div>
  <h3>Add a song</h3>
  <form (submit)='addSong()'>
    <p>Title: <input type="text" name="title" [(ngModel)]='addSong.title' placeholder='a title'></p>
    <p>Artist: <input type="text" name="artist" [(ngModel)]='addSong.artist' placeholder='an artist name'></p>
    <button type="submit">Add Song</button>
  </form>
</div>
